.logo
    width: 1.2rem 
.selectfontcolor
    color: #FFA54F    
    font-weight: 600
.cityshadebox
    width 100%;
    height 100%;
    background rgba(0,0,0,0.8);
    position fixed;
    left 0;
    top 0;
    z-index 10000;
    .content
      width 100%;
      height 4rem;
      margin 0 auto;
      background white;
      .title
        height 0.4rem;
        line-height 0.4rem;
        font-size 0.2rem;
        font-weight 600;
        border-bottom 1px solid #dddddd;
        text-indent 0.1rem;
        display flex;
        justify-content space-between;
        align-items center;
        .closed
          width 0.2rem;
          margin-right 0.1rem;
      .list
        width 100%;
        height 3rem;
        display flex;
        line-height 0.4rem;
        border-bottom 1px solid #dddddd;  
        &>div
          height 3rem;
          padding-left 0.1rem;
          overflow scroll;
          flex 1;
          div
            border-bottom 1px solid #ddd;
        .right
          background #f9f9f9;
          padding-right 0.1rem;
      .btn
        width 100%;
        height 0.6rem;
        display flex;
        justify-content space-around;
        &>div
          width 1.6rem;
          height 0.4rem;
          text-align center;
          line-height 0.4rem;
          border-radius 0.1rem;
          margin-top 0.1rem;
        .clear
          background: #f8f8f9;
          color: #9399a5; 
        .share
          background: #FFA54F;
          color: #fff;        
.selectaddress
    height 0.4rem;
    margin-left 3%;
    line-height 0.4rem;
    font-size 0.16rem;
    position relative;
    .con
      display flex;
      align-items center;
      span
        max-width 2rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      .icon
        width 0.24rem;
        margin-right 0.1rem;
      .selectimg
        width 0.12rem; 
        margin-left 0.06rem;     
    ul
      width 100%;
      position absolute;
      left 0;
      top 0.4rem;
      line-height 0.3rem;
      background red;  
      text-align center;
      background white;
      li
        border-bottom 1px solid #f0f0f0;   
.alertbox
  width 100%;
  height 100%;
  position fixed;
  left 0;
  top 0;
  background rgba(0,0,0,0);  
  display flex;
  justify-content center;
  align-items center;    
  .tip
      text-align center;
      background #eeeeee;
      display flex;
      justify-content center;
      align-items center;
      color #ffa54f
      padding 0.1rem 0.2rem;
      border-radius 0.05rem;
      img
          width 0.16rem;
          margin-right 0.1rem;                